_book/
.quarto/
site_libs/
*.aux
*.log
*.toc
*.out
*.tex
*.synctex.gz
*.fdb_latexmk
*.fls
/.quarto/
**/*.quarto_ipynb
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
*.utf8.md
*.knit.md
*.utf8.Rmd
*.knit.Rmd
*.cache/
*.utf8.qmd
*.knit.qmd
*.utf8.ipynb
*.knit.ipynb
*.ipynb_checkpoints/
*.nb.html