# =========================
# Quarto / Render cache
# =========================
.quarto/
_book/
_freeze/
# Si usas GitHub Pages con /docs, NO ignores docs/
# docs/

# =========================
# LaTeX temporales
# =========================
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.xdv
*.nav
*.snm
*.vrb
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

# (Opcional) Si generas .tex intermedios y NO los versionas:
# *.tex

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# =========================
# R / RStudio (por si usas)
# =========================
.Rhistory
.RData
.Rproj.user/

# =========================
# Sistema / editores
# =========================
.DS_Store
Thumbs.db
*~
*/*~
*.tmp
*.bak
*.log
*.aux  
*.tex

# =========================
# Node / JS (si apareciera)
# =========================
node_modules/
/.quarto/
**/*.quarto_ipynb
